<!-- UI for Room Details Page -->
<div *ngIf="currentPage == 1">
  <div style="max-height:90%;">
    <div class="ui fluid center aligned container" style="margin-right: 0px !important;margin-left: 0px !important;">
      <div class="ui fluid" style="border-bottom: 1px solid #F5F5F5; background: #03A9F4;">
        <img src="../../assets/logo.png" *ngIf="!isOutlookWeb" class="ui fluid centered image"
          style="max-width: 300px;" />
      </div>
      <div class="ui fluid ml-0 mr-0">
        <img src="{{room.visual}}" class="ui fluid centered image roomImage" />
      </div>
    </div>
    <div style="margin-left:5%; margin-right:5%">
      <div class="ui grid" style="margin-top:2%;">
        <div class="thirteen wide column">
          <h1>{{ room.name }}</h1>
        </div>
        <div class="three wide column">
          <i class="user icon" style='margin-top:12%;'></i>
          <span>{{ this.data.room.capacity }}</span>
        </div>
      </div>
      <div style="margin-top: 2%;">
        <i class="circle icon" [ngClass]="room.isAvailable ? 'available' : 'notAvailable'"></i>
        {{ room.isAvailable ? ('available' | translate) : ('notAvailable' | translate) }}
      </div>
      <div class="ui grid" style="margin-top:2%;">
        <p class="twelve wide column">{{ getLocationPath() }}</p>
        <div class="four wide column" style="text-align: center;">
          <div style="color: #03A9F4;">
            {{'floormap' | translate}}
          </div>
            <i data-toggle="tooltip" [attr.data-html]="getImageHTML(room)" class="map marker alternate icon" style="color: #03A9F4; padding: 0 0 0;"></i>
        </div>
      </div>
      <div style="margin-top:5%;">
        <h4>
          {{'equipments' | translate}}
        </h4>
      </div>
      <div class="ui grid" style="margin-top:1%;">
        <div class="five wide column align centered" *ngFor="let equipment of room.equipments"
          style="width: 75%; text-align: center">
          <img class="ui centered image"
            style='height:45px; width:45px; border:2px solid #757575; border-radius:50px; padding:5%'
            src='{{ equipmentsMap[equipment.id].image }}' /><br />
          {{ equipmentsMap[equipment.id].name }}
        </div>
      </div>
      <div style="margin-top:10%;">
        <h4>
          {{'services' | translate}}
        </h4>
      </div>
      <div style="margin-top: 2%;">
        <div class="aligned left" *ngFor="let service of allServices">
          <img class="serviceName" src="{{service.data.image}}">
          <span class="serviceNameSpan">{{ service.data.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" style="width:100%">
    <div class="container ui fluid mt-5p mb-5p" style="margin:0px !important; height:50%;">
    </div>
    <div class="ui buttons fluid" style="height:50%;">
      <button *ngIf="currentPage < totalPages" (click)="goHome()" class="ui button background-light-blue"
        style="border-radius:0px; color: white; height:80%;">
        {{'previous' | translate}}
      </button>
      <button [disabled]="!room.isAvailable" *ngIf="currentPage < totalPages" (click)="nextPage()" class="ui button background-blue"
        style="border-radius:0px; color: white; height:100%;">
        {{'select' | translate}}
      </button>
    </div>
  </footer>
</div>

<!-- UI for Service Selection, Modification & Checkout Page -->
<div *ngIf="currentPage > 1">
  <!-- UI for Service Selection Page -->
  <div [hidden]="currentPage != 2" id="selectServices" style="max-height: 85%;overflow: auto;">
    <div class="ui fluid center aligned container" style="margin-right: 0px !important;margin-left: 0px !important;">
      <div class="ui fluid" style="border-bottom: 1px solid #F5F5F5; background: #03A9F4;">
        <img src="../../assets/logo.png" *ngIf="!isOutlookWeb" class="ui fluid centered image"
          style="max-width: 300px;" />
      </div>
      <div class="ui fluid container" style="margin-right: 0px !important;margin-left: 0px !important;">
        <img src="../../assets/check.jpg" class="ui fluid centered image"
          style="max-height:261px; max-width:477px; background-color: #F5F5F5;" />
      </div>
    </div>
    <div style="margin-left:5%; margin-top:2%">
      <h1 style="margin-bottom: 0">{{ room.name }}</h1>
      <h5 style="margin-top: 0; font-weight: 100;">{{'selectTheServicesYouNeed' | translate}}</h5>
    </div>
    <div style="margin-left:5%; margin-top:2%">
      <div>
        <h4>
          {{'services' | translate}}
        </h4>
      </div>
      <div style="margin-top: 2%;">
        <div class="ui checked checkbox" *ngFor="let service of availableServices; let i = index" style="width: 100%;">
          <input type="checkbox" [checked]="this.selectedServices[service].isSelected"
            (change)="updateAvailedServiceList(service)" />
          <label><img class="serviceName" src="{{selectedServices[service].data.image}}"><span class="serviceNameSpan">{{ selectedServices[service].data.name }}</span></label>
        </div>
      </div>
    </div>
  </div>

  <!-- UI for Service Modification & Remarks Page -->
  <div *ngIf="currentPage > 2 && currentPage != totalPages" id="#serviceModification">
    <div style="max-height:90%; overflow-y:auto; overflow-x:hidden;"
      *ngFor="let availedService of availedServices; let i = index" [hidden]="currentPage != 3 + i">
      <div class="ui fluid center aligned">
        <div class="ui fluid background-blue" *ngIf="!isOutlookWeb"
          style="border-bottom: 1px solid #F5F5F5;padding: 10%;width: auto;height: auto;">
          <img src="../../assets/logo.png" class="ui fluid centered image" style="max-width: 300px;" />
        </div>
        <div class="ui fluid">
          <img src="{{availedService.data.image}}" class="ui fluid centered image" style="max-height:261px; max-width:477px;" />
        </div>
      </div>
      <div class="mt-5p" style="margin-left:5%; margin-right:5%;">
        <h2 class="mb-0">{{ room.name }}</h2>
        <h4 class="text-blue" style="margin-top:0px">
          {{ availedService.data.name }}
        </h4>
        <p class="text-grey">{{ availedService.data.description }}</p>
      </div>
      <div style="height: 215px;overflow-y: auto;overflow-x: hidden;" class="ui container mt-5p mb-5p">
        <div class="ui grid">
          <div *ngFor="let serviceItem of availedService.data.service_items">
            <div class="custom-counter-left one wide column "></div>
            <div class="two wide column custom-counter center aligned pb-5 pt-5 pl-0 pr-0">
              <button class="text-grey custom-button"
                (click)="addQuantity(availedService.data.id, serviceItem.id)">+</button>
              <h3 class="text-blue mb-10 mt-10" style="font-weight:100;">
                {{
                  orderDetails.services[availedService.data.id][serviceItem.id]
                    .quantity
                }}
              </h3>
              <button class="text-grey custom-button"
                (click)="removeQuantity(availedService.data.id, serviceItem.id)">-</button>
            </div>
            <div class="custom-counter-right twelve wide column">
              <h5 class="text-blue mb-5">{{ serviceItem.name }}</h5>
              <p class="text-grey mb-0">{{ serviceItem.description }}</p>
              <p class="text-grey mb-0">
                <i class="ui icon clock mb-0"></i>{{'preparationWithColon' | translate}}
                {{ serviceItem.preparationTime }}
              </p>
              <div class="ui fluid">
                <input [placeholder]="'remarks' | translate" style="width:100%;" [(ngModel)]="
                    this.orderDetails.services[availedService.data.id][
                      serviceItem.id
                    ].itemRemarks
                  " />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui fluid container mt-5p mb-5p">
        <h3 class="text-grey mb-0">{{'remarks' | translate}}</h3>
        <div class="field ui form" style="padding-bottom: 80px;">
          <textarea [(ngModel)]="
              this.orderDetails.services[availedService.data.id].orderRemarks
            ">
          </textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- UI for Checkout page -->
  <div *ngIf="currentPage == totalPages">
    <div style="max-height:90%; overflow-y:auto; overflow-x:hidden;">
      <div class="ui fluid center aligned">
        <div class="ui fluid background-blue" style="border-bottom: 1px solid #F5F5F5;">
          <img src="../../assets/logo.png" *ngIf="!isOutlookWeb" class="ui fluid centered image"
            style="max-width: 300px;" />
        </div>
        <div class="ui fluid" style='background-color:#F5F5F5;'>
          <img src="../../assets/GreenCheck.jpeg" class="ui fluid centered image"
            style='max-height:261px; max-width:477px;'>
        </div>
      </div>
      <div class='mt-5p' style="margin-left:5%; margin-right:5%; padding-bottom: 70px;">
        <h2 class='mb-5p text-blue'>{{'bookingConfirmation' | translate}}</h2>
        <h4 class='mb-5 text-blue'>{{ room.name }}</h4>
        <p class='mb-0'>{{ getLocationPath()}}</p>
        <p class='mb-5p'><i class='ui icon user'></i>{{this.data.room.capacity}}</p>
        <h4 class='mb-0 text-blue' style="padding-bottom: 5px;">{{'services' | translate}}</h4>
        <div *ngFor="let service of orderDetails.services | keyvalue" style="padding-bottom: 5px;">
          <h4 class='mb-0 mt-10 text-grey'><img class="serviceName" src="{{service.value.image}}">{{service.value.name}}</h4>
          <div *ngFor="let item of service.value | keyvalue">
            <div *ngIf="item.value.name" style="padding-bottom: 2px;">
              <p class='mb-0 text-grey'>{{item.value.name}} : {{'quantity' | translate}} {{item.value.quantity}}</p>
              <p class='mb-5 text-grey' *ngIf="item.value.itemRemarks != ''"><i>{{item.value.itemRemarks}}(remarks)</i>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- UI for Previous Next buttons -->
  <footer class="footer" style="width:100%">
    <div class="container ui fluid mt-5p mb-5p" style="margin:0px !important; height:50%;">
      <ul class="progressbar" style="margin-left:-15%">
        <li class="active notpointer" [ngStyle]="{ width: 100 / totalPages + '%' }"></li>
        <li [ngStyle]="{ width: 100 / totalPages + '%' }" [ngClass]="currentPage > 2 ? 'active' : ''"
          (click)="setPage(2)"></li>
        <li [ngStyle]="{ width: 100 / totalPages + '%' }" [ngClass]="i < currentPage - 3 ? 'active' : ''"
          *ngFor="let service of availedServices; let i = index" (click)="setPage(i + 3)"></li>
        <li [ngStyle]="{ width: 100 / totalPages + '%' }"></li>
      </ul>
    </div>
    <span class="successMessage" *ngIf="bookingConfirmed">{{'confirmationMessage' | translate}}</span>
    <span class="errorMessage" *ngIf="errorOcurred">{{'errorMessage' | translate}} {{responseMessage}}</span>
    <div class="ui buttons fluid" style="height:50%;">
      <button *ngIf="currentPage <= totalPages" [disabled]="bookingConfirmed" (click)="previousPage()" class="ui button background-light-blue"
        style="border-radius:0px; color: white; height:80%;">
        {{'previous' | translate}}
      </button>
      <button *ngIf="currentPage < totalPages" (click)="nextPage()" class="ui button background-blue"
        style="border-radius:0px; color: white; height:80%;">
        {{'next' | translate}}
      </button>
      <button *ngIf="currentPage == totalPages" [disabled]="bookingConfirmed || requestInProgress" (click)="createMeetingAsync()" class="ui positive button "
        style="border-radius:0%; margin:0; background-color: #8BC34A;">
        {{'confirm' | translate}}
      </button>
    </div>
  </footer>
</div>