.segment-grey{
    background-color: #F5F5F5 !important;
    color: #757575;
}
.circle.icon.available{
    color: #8BC34A;
}
.chevron.icon{
    color: #D8D8D8;
    font-size: 2em;
}
.ui.header.aligned.left{
    margin-bottom: 5px;
}
.footer {
    display: block;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%
}