/* You can add global styles to this file, and also import other style files */
.roomsPane-lg{
    border: 0px;
    /* min-height: 340px;
    max-height: 340px; */
    overflow-y: scroll;
    height: calc(52vh);
}

.roomsPane-sm{
    border: 0px;
    /* min-height: 360px;
    max-height: 360px; */
    overflow-y: scroll;
    height: calc(46vh);
}

.roomsPane-lg p, .roomsPane-sm p, .roomsPane-lg i, .roomsPane-sm i{
    color: #000;
}

.availableCount, .availability{
    color: #000 !important;
}

.mt-0{
    margin-top: 0px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}

.ml-0{
    margin-left: 0px !important;
}

.mr-0{
    margin-right: 0px !important;
}

.pt-0{
    padding-top: 0px !important;
}

.pb-0{
    padding-bottom: 0px !important;
}

.pl-0{
    padding-left: 0px !important;
}

.pr-0{
    padding-right: 0px !important;
}

#morefilters > div > ng-multiselect-dropdown > div > div:nth-child(1) > span > span:nth-child(2){
	/* float: right !important; */
    padding-right: 0px !important;
    margin-right: -6px !important;
}


span.dropdown-down
{
	display: inline-block !important;
    top: 10px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 8px solid #212121 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}

span.dropdown-up
{
	display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    border-bottom: 8px solid #212121 !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
}

#morefiltersToggle{
    color: #03A9F4;
    font-weight: 600;
    margin-left: 2px; 
    cursor: pointer;
}

#morefilters > div > ng-multiselect-dropdown > div > div.dropdown-list{
    margin-top: 5px;
}


#morefilters > div > ng-multiselect-dropdown > div > div:nth-child(1) > span {
	border: 1px solid rgba(34, 36, 38, 0.15);
    /* border-radius: 0px; */
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding-left: 10px;
    padding-right: 10px;
}


.slider{
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.slider > div{
    padding-bottom: 10px;
}

.multiselect-item-checkbox input[type=checkbox] + div:before{
    color: #03A9F4 !important;
    border: 2px solid #03A9F4 !important;
    border-radius: 50px;
}

.selected-item{
    background: #03A9F4 !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:after{
    margin-left: -1px;
}

.multiselect-dropdown.dropdown-btn {
    color:#03A9F4 !important;
}

.multiselect-dropdown {
    color : rgba(191, 191, 191, 0.87);
}
