<main *ngIf="!showRoomDetails" class="ms-welcome__main">
  <div class="ui fluid center aligned container ml-0 mr-0"
    style="margin-right: 0px !important;margin-left: 0px !important;">
    <div class="ui fluid" style="border-bottom: 1px solid #F5F5F5; background: #03A9F4;">
      <img src="../../../assets/logo.png" class="ui fluid centered image" *ngIf="!isOutlookWeb" [ngClass]="" style="max-width: 300px;" />
    </div>
    <div class="ui segment grid mt-0 mb-0" style="border: 0px; min-height: 261px;">
      <div class="sixteen wide column pb-0">
        <div class="ui fluid input container" style="margin: 0px 0px 0px 0px !important;">
          <input [placeholder]="'enterName' | translate" type="text" style="border-width: 0px 0px 1px 0px;"
            [(ngModel)]="searchText" />
        </div>
      </div>
      <div class="sixteen wide column pb-0" style="min-height: 60px;">
        <div class="ui fluid left aligned slider">
          <div>
            <div style="float:left;"><span>{{'capacityWithColon' | translate}}</span></div>
            <div class="ui input" style="float:right;">
              <span>{{ selectedCapacity }}</span>
            </div>
          </div>
          <div class="ui blue range pb-0" id="range-3"></div>
        </div>
      </div>

      <div class="eight wide column pb-0 locations" *ngFor="let level of Arr(locationLevels).fill(1); let i = index">
        <select class="ui fluid search dropdown" [(ngModel)]="selectedLocation[i]" (change)="setLocationLevel(i+1)">
          <option value="" selected> {{'selectLocationLevel'|translate}} {{i}}</option>
          <option [ngValue]="location" *ngFor="let location of locationLevelDropdowns[i]">{{ location.name }}</option>
        </select>
      </div>
      <div class="sixteen wide column left aligned">
        <span id="morefiltersToggle">
          <a (click)="resetFilters()" style="color: #03A9F4;">
            {{'moreFilters' | translate}}
            <i [ngClass]="
                showMoreFilters ? 'chevron icon down' : 'chevron icon right'
              "></i>
          </a>
        </span>
      </div>
      <div class="ui segment grid mt-0 mb-0 pl-0 pr-0" style="border: 0px; min-height: 50px; width: 100%;"
        id="morefilters" *ngIf="showMoreFilters">
        <div class="sixteen wide column pt-0">
          <ng-multiselect-dropdown [placeholder]="'selectResourceProfile' | translate"
            [data]="dropdownList_resourceProfiles" [(ngModel)]="selectedItems_resourceProfiles"
            [settings]="dropdownSettings_resourceProfiles">
          </ng-multiselect-dropdown>
        </div>
        <div class="eight wide column pt-0">
          <ng-multiselect-dropdown [placeholder]="'equipments' | translate" [data]="dropdownList_equipments"
            [(ngModel)]="selectedItems_equipments" [settings]="dropdownSettings_equipments">
          </ng-multiselect-dropdown>
        </div>
        <div class="eight wide column pt-0">
          <ng-multiselect-dropdown [placeholder]="'services' | translate" [data]="filterServices()"
            [(ngModel)]="selectedItems_services" [settings]="dropdownSettings_services">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="ui segment" [ngClass]="showMoreFilters ? 'roomsPane-sm' : 'roomsPane-lg'" style="border-style: none;">
      <div class="ui fluid" style="margin-top:1%;">
        <div *ngFor="
            let room of rooms
              | filter
                : {
                    searchValue: searchText,
                    resourceProfiles: selectedItems_resourceProfiles,
                    capacity: selectedCapacity,
                    equipments: selectedItems_equipments,
                    services: selectedItems_services,
                    location: selectedLocation
                  }
              | paginate: { itemsPerPage: 10, currentPage: p }
          " class="ui placeholder segment segment-grey left aligned" id="{{ room.id }}"
          style="max-height: 120px; min-height: 120px; margin-top: 2px; margin-bottom: 5px; cursor: pointer; border-style: none; background: #FAFAFA;">
          <a (click)="
              roomSelected({
                room: room,
                services: services,
                equipments: equipments,
                capacity: selectedCapacity
              })
            ">
            <div class="ui grid" style="max-height: 120px; min-height: 120px;">
              <div class="six wide column middle aligned">
                <img src="{{room.visual}}" class="ui image" style="max-height: 95px;" />
              </div>
              <div class="eight wide column middle aligned">
                <h3 class="ui header aligned left" style="color:#757575">{{ room.name }}</h3>
                <div class="aligned left">
                  <i class="circle icon" [ngClass]="room.isAvailable ? 'available' : 'notAvailable'"></i>
                  <span class="availability" style="color:#757575">
                    {{ room.isAvailable ? ('available' | translate) : ('notAvailable' | translate) }}
                  </span>
                </div>
                <p class="aligned left">{{ locationPaths[room.id] }}</p>
              </div>
              <div class="two wide column right aligned availableCount" style="padding: 0 0 0; color:#757575;">
                {{ room.capacity }}<i class="user icon"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <footer>
      <pagination-controls (pageChange)="p = $event" responsive="true"
        previousLabel="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
        nextLabel="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" directionLinks="true">
      </pagination-controls>
    </footer>
  </div>
</main>
<div *ngIf="showRoomDetails">
  <app-room [data]="selectedRoomData" [currentLocation]="currentLocation" [isOutlookWeb]="isOutlookWeb" (goBack)="home($event)"></app-room>
</div>